@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 5px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 00vh;
      background: #000000;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #323232;
      border-radius: 00vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }

  
@layer base {
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: black;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
  }
}

